.btn {
    background-color: #e1e4e8;
    border: none;
    border-radius: 2px;
    padding: 15px 35px;
    font-size: 12px;
    border: 1px solid #e1e4e8;
    position: absolute;
    top: 50%;
    left: 50%
}

.btn:hover {
    background-color: gainsboro;
}